body {
    background: #0C0950;
    color: #261FB3;
}
div {
    background: #FBE4D6;
    border-radius: 5px;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: Courier;
}
