body {
    background: #0C0950;
    color: #261FB3;
}
div {
    background: #FBE4D6;
    width: fit-content;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: Courier;
    margin-left: 120px;
    margin-right: 120px;
    
}
p {
    font-family: Monospace, "Lucida Console";
}
td {
    background: #FBE4D6;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 40px;
}
